/* uni-app 内置 SCSS 变量，可在任意页面的 <style lang="scss"> 中直接使用 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #333333;
$uni-text-color-grey: #999999;
$uni-bg-color: #ffffff;
$uni-border-color: #c8c7cc;